.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #ede0c7;
  color: rgb(40, 40, 124);

  h1 {
    text-transform: uppercase;
  }

  nav {
    width: 40%;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  }
}
